*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: inline;
  /* max-width: 100%; */
  /* height: auto; */
}

.pick {
  width: 120;
  outline: 2px solid blue;
}

input {
  width: 290px;
  height: 20px;
}
.inputs {
  width: 300px;
}
ul {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
li {
  list-style: none;
}
.images {
  width: 350px;
}
.main-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 650px;
}
.profile-block {
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  padding: 10px;
  border: solid 1px rgb(67, 67, 107);
}
.pr-img {
  margin-left: 15px;
}
